<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'bookList.title' | translate}}</ion-title>
  </ion-navbar>
</ion-header>


  <ion-content padding>
    <div text-center padding [hidden]="!isLoading">
      <ion-spinner></ion-spinner>
    </div>
    <ion-list>
      <ion-item *ngFor="let book of books" (click)="showDetails(book)">
        <p><b>{{ book.title }}</b></p>
        <p>{{ book.publisher }}</p>
      </ion-item>
    </ion-list>
    <ion-fab right bottom padding [hidden]="isLoading">
      <button ion-fab color="secondary" (click)="addBook();"><ion-icon name="add"></ion-icon></button>
    </ion-fab>

    <div text-center *ngIf="errorLoading">
      <h2>{{ 'bookList.serverError' | translate }}</h2>
      <button ion-button color="secondary" (click)="loadBookList()">{{ 'bookList.retry' | translate }}</button>
    </div>
    
  </ion-content>